<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TraveL</title>
    <link rel="short icon" href="./img/travel_icon.ico">
    <link rel="stylesheet" href="./style.css">
  </head>
  <style media="screen">
    body{
      background-color: #FFFFFF;
      background-image: url('./img/shi.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>

  <body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
  <a class="logo" href="/travel"><img src="./img/travel__.png" width="200px"></a>


  <div class="top_box"><br></div>
  <div class="menu_1">
    <div class="menu">
      <ul id="left">
        <li><a href="/intro">홈페이지소개</a> |</li>
        <li><a href="/price" >여행경비세우기</a> |</li>
        <li><a href="/mypage">마이페이지</a></li>

      </ul>
      <%
        if (session.islogin != 'login'){ 
      %>
      <ul id="right">
        <li ><a href="/login">로그인</a> |</li>
        <li ><a href="/join">회원가입</a></li>
      </ul>
      <% } %>
      <% if(session.islogin == 'login'){ %>
        <ul id="right">
          <li><%= cookie.user %>님 안녕하세요.<span style="padding-left:25px;">|</span></li>
          <li><a href="/logout">로그아웃</a></li>
        </ul>
      <%   }%>
    </div>
  </div>

  <div class="_info" >
        <div class="info">
                <form action="/info" method="post" class="form_sec">
                    <img src="./img/traveler.png" alt="" style="width: 150px; height: 150px; opacity: 0.7;">
                    <p class="message"><br></p>
                    <input class="text" type="text" name="username" placeholder="Username" required="">
                    <input class="text" type="password" name="pw" placeholder="Password" required="">
                    <input class="text w3lpass" type="password" name="check" placeholder="Confirm Password" required="">
                    <input type="submit" value="수정하기">
                </form>
            </div>
  </div>

  </body>
</html>
